.website{

  .sections{

    .section-title{
      text-align: center;
      font-style: normal;
      font-weight: 800;
      font-size: 42px;
      line-height: 72px;
      font-family: 'Poppins', sans-serif;
      color: #1E266D;
      @media #{$medium-and-down}{
        font-size: 22px;
        line-height: 44px;
        margin-top: 15px;
        margin-bottom: 24px;
      }
    }

    .section-description{
      font-family: 'Poppins', sans-serif;
      text-align: center;
      color: #455880;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 40px;
      @media #{$medium-and-down}{
        font-size: 14px;
        line-height: 28px;
        margin: 0;
      }
    }

    .section-description-bold{
      font-weight: 700;
      text-decoration: underline;
    }

    .section-img{
      margin-top: 76px;
      margin-bottom: 119px;
      width: 100%;
      height: auto;
      @media #{$medium-and-down}{
        margin-top: 60px;
        margin-bottom: 75px;
      }
    }

    .section-btn{
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Poppins', sans-serif;
      border: 1px solid;
      box-sizing: border-box;
      border-radius: 10px;
      width: auto;
      height: auto;
      text-transform: none;
      text-align: center;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: auto;
      color: #FFFFFF;
      box-shadow: 0px 2px 4px rgba(0, 16, 75, 0.2);
      padding: 8px 56px;
      margin-top: 67px;
      margin-bottom: 64px;
      @media #{$medium-and-down}{
        margin-top: 30px;
        margin-bottom: 90px;
      }
    }

    .section-btn:hover, .section-btn:focus, .section-btn:active, .section-btn:visited{ 
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 1px 7px 0 rgba(0, 0, 0, 0.25), 0 3px 1px -1px rgba(0, 0, 0, 0.2); 
    }

    .feature-heading{
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 70px;
      height: 15%;
      @media #{$medium-and-down}{
        margin-bottom: 37px;
        height: auto;
      }
    }

    .feature-img{
      margin-right: 25px;
      @media #{$medium-and-down}{
        height: 20px;
        width: 20px;
        margin-right: 24px;
      }
    }

    .small-img{
      margin-top: 10px;
      @media #{$medium-and-down}{
        margin-top: 5px;
      }
    }

    .feature-title{
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 40px;
      color: #455880;
      margin-top: 8px;
      @media #{$medium-and-down}{
        font-size: 14px;
        line-height: 28px;
        font-weight: 700;
        margin-top: 0;
      }
    }

    .small-title{
      @media #{$medium-and-down}{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
      }

      .card-title{
        @media #{$medium-and-down}{
          margin-top: 16px;
          margin-left: 32px;
        }
      }
      
    }
    
    .feature-desc{
      font-family: 'Poppins', sans-serif;      
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 40px;
      color: #455880;
      @media #{$medium-and-down}{
        font-size: 12px;
        line-height: 28px;
      }
    }

    .section-decouple-btn{
      background: #C80EE7;
      border-color: #C80EE7;
    }

    .section-deploy-btn{
      background:#11CE7F;
      border-color:#11CE7F;
    }

    .section-develop-btn{
      background:#1D66FF;
      border-color:#1D66FF;
    }
    
    .enterprise-dots{
      margin: 12% 0 0 3%;
    }

    .section-enterprise-title{
      color: #FFFFFF;
      text-align: left;
      margin: 28px 0;
      @media #{$medium-and-down}{
        margin-top: 8px;
      }
    }
    
    .section-enterprise-description{
      color: #FFFFFF;
      text-align: left;
      margin: 0;
    }

    .section-enterprise-btn{
      color: #1D66FF;
      background: #FFFFFF;
      border-color: #FFFFFF;
      margin-top: 90px;
      margin-bottom: 126px;
      height: auto;
      width: 25%;
      font-size: 20px;
      display: flex;
      @media #{$medium-and-down}{
        width: 80%;
        height: auto;
      }
    }

    .enterprise-feature{
      margin-bottom: 93px;
      padding: 0 32px;
      height: 32%;
      @media #{$medium-and-down}{
        margin-bottom: 54px;
        height: auto;
      }
      
      .feature-title-enterprise{
        color: #11CE7F;
        margin-top: 35px;
        margin-bottom: 11px;
      }
  
      .feature-desc-enterprise{
        color: #FFFFFF;
      }

      .enterprise-big-btn{
        height: auto;
        width: auto;
        padding: 24px;
        flex-direction: column;
        align-items: flex-start;
        font-size: 36px;
        @media #{$medium-and-down}{
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          font-size: 20px;
          margin: 0;

          span{
            margin-left: 24px;
          }
        }

        .call-img{
          height: 52px;
          width: 52px;
          margin-bottom: 30px;
          @media #{$medium-and-down}{
            height: 32px;
            width: 32px;
            margin-bottom: 0;
          }
        }
      }
    }

    .community-img{
      height: 144px;
      width: 144px;
      margin: 36px 0;
      @media #{$medium-and-down}{
        height: 48px;
        width: 48px;
        margin: 65px 0 19px 0;
      }
    }

    .community-number{
      font-family: 'Poppins', sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: auto;
      letter-spacing: 0em;
      text-align: center;
      margin-top: 0;
      color: #1E266D;
      @media #{$medium-and-down}{
        font-size: 12px;
        line-height: 18px;
      }
    }

    .community-text{
      font-family: 'Poppins', sans-serif;
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      line-height: auto;
      letter-spacing: 0em;
      text-align: center;
      margin-bottom: 0;
      color: #1E266D;
      @media #{$medium-and-down}{
        font-size: 14px;
        line-height: 21px;
        padding: 16px;
      }
    }

    .community-description{
      margin: 75px 0;
      @media #{$medium-and-down}{
        margin-top: 50px;
        margin-bottom: 56px;
        padding: 16px;
      }
    }

    .outer-card-wrap{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      
      .inner-card-wrap{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        grid-gap: 24px;
        @media #{$medium-and-down}{
          flex-direction: column;
          grid-gap: 0;
        }
        
        .community-card{
          background: #FFFFFF;
          border: 2px solid #1D66FF;
          box-sizing: border-box;
          box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.05);
          border-radius: 8px;
          padding: 38px 27px;
          margin-bottom: 119px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          @media #{$medium-and-down}{
            padding: 26px 29px;
            margin-bottom: 36px;
          }
    
          .card-upper{
            @media #{$medium-and-down}{
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
            }
          }
    
        }
    
        .community-feature-btn{
          background: rgba(29, 102, 255, 0.1);
          color: #1D66FF;
          text-transform: none;
          font-family: 'Poppins', sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          letter-spacing: 0em;
          text-align: center;
          height: auto;
        }
      }
    }


  }

  .section-decouple-background{
    background: url('/images/pink-background.svg') no-repeat;
    background-size: cover;
    @media #{$medium-and-down}{
      background: none;
      padding: 16px;
    }

    .decouple-dots{
      float: right;
      margin-top: -30px;
      margin-right: -65px;
      @media #{$medium-and-down}{
        margin-top: 0;
        margin-bottom: -30px;
        margin-right: -16px;
      }
    }
  }

  .section-deploy-background{
    background: url('/images/green-background.svg') no-repeat;
    background-size: cover;
    @media #{$medium-and-down}{
      background: none;
      padding: 16px;
    }

    .deploy-dots{
      float: left;
      margin-top: -30px;
      margin-left: -65px;
      @media #{$medium-and-down}{
        margin-top: 0;
        margin-bottom: -30px;
        margin-left: -16px;
      }
    }
  }

  .section-develop-background{
    background: url('/images/blue-background.svg') no-repeat;
    background-size: cover;
    @media #{$medium-and-down}{
      background: none;
      padding: 16px;
    }

  }
  .develop-dots{
    float: right;
    margin-top: -30px;
    margin-right: -65px;
    @media #{$medium-and-down}{
      margin-top: 0;
      margin-bottom: -30px;
      margin-right: -10px;
    }
  }

  .section-enterprise-background{
    background: url('/images/darkblue-background.svg') no-repeat;
    color: #FFFFFF;
    background-size: cover;
    @media #{$medium-and-down}{
      padding: 16px;
    }
  }


}