@media #{$large-and-up} {
  .logo {
    height: 40px;
  }

  .header-right {
    font-weight: 500;
    position: absolute;
    right: 9vw;
    .navbar {
      position: relative;
      left: 8vw;
      .navbar-tabs {
        a {
          color: white;
          font-size: 18px;
          padding-bottom: 8px;
          justify-content: center;
        }
        span:hover {
          color: #ff6700;
          transition: all 0.2ms;
        }
        a {
          padding: 0 24px;
        }
      }

      .get-started-top {
        text-transform: capitalize;
        background-color: #ff6700;
        border-radius: 5px;
        margin-left: 24px;
      }
    }

    .dehaze {
      color:white;
    }
  }
}
